.wP{
    color: rgb(248, 249, 251);
}
.wS{
    color: rgb(255, 255, 255);
}
.greyP{
    color:rgb(226, 232, 240);
}
.greenP{
    color:rgb(92, 189, 129);
}
.greenS{
    color:rgb(25, 133, 82);
}
.greenT{
    color:rgb(240, 253, 244)
}
.greenT1{
    color: rgb(234, 250, 241);
}